/* #my-map {
  width: 100%;
  height: 100vh;
} */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map-container {
  position: relative;
  height: 100%;
}
#my-map {
  width: 100%;
  height: 100%;
}

#area-chart {
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.6); /* 80% opaque white */
}

#heatmap {
  position: absolute;
  bottom: 20px;
  right: 10px;
  z-index: 1000;
}

.chart-area {
  fill: #c6997d;
}

#tooltip {
  position: absolute;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
  display: none;
}
.tooltip-label {
  font-weight: 500;
  font-size: 12px;
  color: #888;
}